/* Content.css */

.content-container {
  margin: 40px;
  text-align: center;
}

.fav-header {
  color: #17183B;
  font-size: 2em;
  margin-bottom: 20px;
}

.cartoon-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.cartoon-box {
  border: 2px solid #ffffff;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 25px;
  margin: 15px; /* Reduce both left and right margins for less horizontal space between boxes */
  width: 300px;
  box-shadow: 0 4px 8px rgba(255, 251, 251, 0.3);
  transition: transform 0.3s ease-in-out;
}

.cartoon-box:hover {
  transform: scale(1.05);
}

.cartoon-box h3 {
  color: #D499B9;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.cartoon-info {
  margin: 10px 0;
  color: #2c3e50;
}

.cartoon-info strong {
  color: #D499B9;
}
